body{
    background-color:rgba(244, 247, 169, 0.212);
    color:rgba(0, 0, 0, 0.884);
    margin: 6px;
    padding: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header,
footer {
    text-align: center;
    background-color: gainsboro;
}
h2, h3, h4 {
    color: brown;
    text-decoration-line: underline;
}
p {
text-align: justify;
text-indent: 8ch;
}
p::first-line{
    color: black;
   }
h2,
h3,
h4{
    color: rgba(165, 140, 95, 0.932);
    text-decoration-line: underline;
}