body{
    background-color:rgba(244, 247, 169, 0.212);
    color:rgba(0, 0, 0, 0.884);
    margin: 6px;
    padding: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header,
footer {
    text-align: center;
    background-color: gainsboro;
}
h2, h3, h4 {
    color: brown;
    text-decoration-line: underline;
}
p {
text-align: justify;
text-indent: 8ch;
}
p::first-line{
    color: black;
   }
    p::first-letter{
        font-size: 120%;
        color: rgba(192, 47, 144, 0.596);
        text-decoration-line: underline;
    }  
    section:hover{
        background-color: antiquewhite;
    }
    h1::first-letter {
font-size: 120%;
color: cadetblue;
text-decoration-line:underline;
    }
h4::first-letter{
    font-size: 120%;
    color: darkgreen;
    text-decoration-line:underline;
}
h2,
h3,
h4{
    color: rgba(165, 140, 95, 0.932);
    text-decoration-line: underline;
}

.myimage-div
{
    display: none;
}
a.myimage-ssilka:hover+div
{
    display: block;
}